<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Learning Hiraganas</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <audio id="correct-sound" src="correct.mp3" preload="auto"></audio>
    <audio id="incorrect-sound" src="incorrect.mp3" preload="auto"></audio>
    <audio id="trumpet-sound" src="trumpet.mp3" preload="auto"></audio>

    <header>
        <div id="header-title">Select the Hiraganas</div>
        <div id="hiragana-selection">
            <!-- Generate Hiragana buttons dynamically -->
            {% for hiragana in hiraganas %}
                <button class="hiragana-button" id="{{ hiragana[0] }}">{{ hiragana[1] }}</button> <!-- Assuming the second column has the Hiragana character -->
            {% endfor %}
        </div>
        <div id="word-length-container">
            <label for="word-length-input">Word size:</label>
            <input type="number" id="word-length-input" value="1" min="1">
        </div>
        <div id="new-round-container">
            <button id="new-round-button">New Session</button>
        </div>
    </header>
    
    <div id="game-container">
        <div id="progress-bar"></div>
        <div id="progress-text">0 / 20</div>
        <p class="question-text">What sound does this make?</p>
        <div id="hiragana-box">
            <span id="hiragana-character">__</span>
        </div>
        <input type="text" id="answer-input" placeholder="Type here">
        <button id="submit-button">Check</button>
        <p id="feedback"></p>
        <p id="score-text">Score: 0</p> <!-- Score display -->
    </div>

    <button id="reset-button">Reset Progress</button>

    <div id="mastery-container">
        <h2 class="border-title">Hiraganas' mastery</h2>
        <div id="mastery-grid">
            <!-- Mastery grid items will be dynamically generated here -->
            <i style="text-align: center;">Select the desired hiraganas to display the percentage of mastery!</i>
        </div>
    </div>

    <script>
        const hiraganasArray = {{ hiraganas | tojson }};
        const hiraganas = {};
        hiraganasArray.forEach(item => {
            const hiragana_id = item[0];
            hiraganas[hiragana_id] = item.slice(0);
        });

        const masteriesArray = {{ masteries | tojson }};
        const masteries = {};
        masteriesArray.forEach(item => {
            const hiragana_id = item[1];
            // Assign the rest of the array (data) to the corresponding hiragana_id key
            masteries[hiragana_id] = item.slice(2);
        });

    </script>
    <script type="module" src="{{ url_for('static', filename='scripts/hiragana_selection.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
</body>
</html>
